<%- layout("layouts/boilerplate") %>

<div class="row mt-4 mb-4">
  <div class="col-8 offset-2">
    <h4 style="text-align: center;">Edit Listing</h4>
    <form action="/listings/<%=listing._id%>?_method=put" class="needs-validation" method="post" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <label for="tilte" class="form-label">title</label>
        <input
          id="title"
          class="form-control"
          type="text"
          value="<%=listing.title%>"
          name="listing[title]"
          required
        />
        <div class="invalid-feedback">
          enter title name
        </div>
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">image</label>
        <input
          id="image"
          class="form-control"
          type="file"
          value="<%=listing.image%>"
          name="listing[image]"
        />
        <div class="mt-4">
          <img src="<%=orignalImageUrl%>" alt="" style="width: 13rem; height: 6rem; object-fit: cover;">
        </div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">description</label>
        <textarea
          class="form-control"
          id="desc"
          name="listing[description]"
          placeholder="enter listing description"
          required
        >
<%=listing.description%></textarea
        >
        <div class="invalid-feedback">
          enter description
        </div>
        <div class="valid-feedback">
          looks good!
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="num" class="form-label">price</label>
          <input
            type="number"
            id="num"
            class="form-control"
            name="listing[price]"
            value="<%=listing.price%>"
            required
          />
          <div class="invalid-feedback">
            enter price
          </div>
          <div class="valid-feedback">
            thanks!
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="country" class="form-label">country</label>
          <input
            type="text"
            id="country"
            class="form-control"
            value="<%=listing.country%>"
            name="listing[country]"
            required
          />
          <div class="invalid-feedback">
            enter country name
          </div>
          <div class="valid-feedback">
            good!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="loca" class="form-label">location</label>
        <input
          type="text"
          id="loca"
          class="form-control"
          value="<%=listing.location%>"
          name="listing[location]"
          required
        />
        <div class="invalid-feedback">
          enter location name
        </div>
        <div class="valid-feedback">
          good!
        </div>
      </div>
      <button type="submit" class="btn btn-danger">submit</button>
    </form>
  </div>
</div>
